@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap');

body {
margin: 0;
font-family: 'Manrope', sans-serif;
}

header {
    background-color: #CE7B61;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: start;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 23px;
    display: flex;
}

.nav {
    width: 22%;
    display: flex;
    justify-content: space-around;
    margin-right: 2.75%;
}

.sticky {
    color: rgba(255, 255, 255, 0.689);
    font-weight: 600;
    font-size: 23px;
}

.Whatscalamity {
    margin-top: 1%;
    margin-left: 8.5%;
    font-weight: 900;
    font-size: 85px;
}

.WhatscalamityTWO {
    margin-left: 8.5%;
    font-weight: bold;
    font-size: 40px;
    width: 35%;
}

.WhatscalamityTHREE {
    margin-left: 8.5%;
    font-weight: 400;
    font-size: 16px;
    width: 35%;
}

.GiantClam {
    margin-top: 1%;
    float: right;
    margin-right: 8.5%;
}

.funnydiv {
    margin-top: 5%;
    background-color: #E2E6E9;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.Celestus {

}